<div class="center-table">
  <div class="row" style=" margin-top: 1%;margin-left: 1%">
    <div class="col-md-6">
      <form>
        <div class="form-group form-inline">
        Caută: <input class="form-control ml-2" type="text" v-model="filter"/>
        </div>
      </form>
    </div>
    <div class="col-md-6" style="text-align: right">
      <button type="button" class="btn add-button" @click="showAddStudyModal = true">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <b-modal id="add-study" centered v-model="showAddStudyModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-add-title">Adăugare Studiu</h4>
      <button type="button" class="close" aria-label="Close" @click="showAddStudyModal = false; resetForms()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <form ref="studyFormReference">
        <label>Ciclu<span style="color: red">*</span></label>
        <select class="form-control" v-model="studyForm.cycle" required>
          <option></option>
          <option>licenta</option>
          <option>master</option>
          <option>postuniversitar</option>
          <option>doctorat</option>
        </select>
        <div v-if="studyForm.cycle">
          <label style="margin-top: 2%">Facultate<span style="color: red">*</span></label>
          <input class="form-control" v-model="studyForm.faculty" placeholder="Facultate" required>
          <label style="margin-top: 2%">Departament<span style="color: red">*</span></label>
          <input class="form-control" v-model="studyForm.department" placeholder="Departament" required>
          <label style="margin-top: 2%">Program<span style="color: red">*</span></label>
          <input class="form-control" v-model="studyForm.studyProgram" placeholder="Program" required>
          <label style="margin-top: 2%">Forma<span style="color: red">*</span></label>
          <input class="form-control" v-model="studyForm.form" placeholder="Forma" required>
          <label style="margin-top: 2%">An<span style="color: red">*</span></label>
          <input class="form-control" v-model="studyForm.year" placeholder="An" required pattern="[0-9]+">
          <label style="margin-top: 2%">Prescurtare<span style="color: red">*</span></label>
          <input class="form-control" v-model="studyForm.abbreviation" placeholder="Prescurtare" required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button :disabled="!$refs.studyFormReference?.checkValidity()" type="button" class="btn btn-outline-primary" @click="showAddStudyModal = false; createStudy(); resetForms()">Salvare</button>
    </div>
  </b-modal>

  <b-modal id="edit-study" centered v-model="showEditStudyModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-edit-title">Editare Studiu</h4>
      <button type="button" class="close" aria-label="Close" @click="showEditStudyModal = false; resetForms()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <form ref="studyFormReference">
        <label>Ciclu</label>
        <select class="form-control" v-model="studyForm.cycle" required>
          <option>licenta</option>
          <option>master</option>
          <option>postuniversitar</option>
          <option>doctorat</option>
        </select>
        <label style="margin-top: 2%">Facultate</label>
        <input class="form-control" v-model="studyForm.faculty" placeholder="Facultate" required>
        <label style="margin-top: 2%">Departament</label>
        <input class="form-control" v-model="studyForm.department" placeholder="Departament" required>
        <label style="margin-top: 2%">Program</label>
        <input class="form-control" v-model="studyForm.studyProgram" placeholder="Program" required>
        <label style="margin-top: 2%">Forma</label>
        <input class="form-control" v-model="studyForm.form" placeholder="Forma" required>
        <label style="margin-top: 2%">An</label>
        <input class="form-control" v-model="studyForm.year" placeholder="An" required pattern="[0-9]+">
        <label style="margin-top: 2%">Prescurtare</label>
        <input class="form-control" v-model="studyForm.abbreviation" placeholder="Prescurtare" required>
      </form>
    </div>
    <div class="modal-footer">
      <button :disabled="!$refs.studyFormReference?.checkValidity()" type="button" class="btn btn-outline-primary" @click="showEditStudyModal = false; updateStudy(); resetForms()">Salvare</button>
    </div>
  </b-modal>

  <b-modal id="delete-study" centered v-model="showDeleteStudyModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-delete-title">Ștergere Studiu</h4>
      <button type="button" class="close" aria-label="Close" @click="showDeleteStudyModal = false">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Ești sigur că dorești să ștergi acest studiu?</strong></p>
      <p>Toate informațiile asociate cu acesta vor fi șterse definitiv.
        <span class="text-danger">Această operațiune nu poate fi anulată.</span></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" @click="showDeleteStudyModal = false">Anulare</button>
      <button type="button" autofocus class="btn btn-danger" @click="showDeleteStudyModal = false; deleteStudyById()">Da</button>
    </div>
  </b-modal>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Ciclu</th>
    <th>Facultate</th>
    <th>Departament</th>
    <th>Program</th>
    <th>Forma</th>
    <th>An</th>
    <th>Prescurtare</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr v-for="study in filteredStudies">
    <td class="align-middle">{{study.cycle}}</td>
    <td class="align-middle">{{study.faculty}}</td>
    <td class="align-middle">{{study.department}}</td>
    <td class="align-middle">{{study.studyProgram}}</td>
    <td class="align-middle">{{study.form}}</td>
    <td class="align-middle">{{study.year}}</td>
    <td class="align-middle">{{study.abbreviation}}</td>
    <td>
      <div class="dropdown">
        <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-h" style="color: dodgerblue"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" @click="showEditStudyModal = true; setId(study.id); setForm(study)">Editează</a>
          <a class="dropdown-item" @click="showDeleteStudyModal = true; setId(study.id)">Șterge</a>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</div>
