<div class="center-table">
  <div class="row" style=" margin-top: 1%;margin-left: 1%">
    <div class="col-md-6">
      <form>
        <div class="form-group form-inline">
        Caută: <input class="form-control ml-2" type="text" v-model="filter"/>
        </div>
      </form>
    </div>
    <div class="col-md-6" style="text-align: right">
      <button type="button" class="btn add-button" @click="showAddAccountModal = true">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <b-modal id="add-account" centered v-model="showAddAccountModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-add-title">Adăugare Cont</h4>
      <button type="button" class="close" aria-label="Close" @click="showAddAccountModal = false; resetForms()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <form ref="accountFormReference">
        <label style="margin-top: 2%">Nume<span style="color: red">*</span></label>
        <input class="form-control" v-model="accountForm.lastName" placeholder="Nume">
        <label style="margin-top: 2%">Prenume<span style="color: red">*</span></label>
        <input class="form-control" v-model="accountForm.firstName" placeholder="Prenume">
        <label style="margin-top: 2%">CNP<span style="color: red">*</span></label>
        <input class="form-control" v-model="accountForm.cnp" placeholder="CNP" required pattern="[0-9]+" minlength="13" maxlength="13">
        <label style="margin-top: 2%">Email<span style="color: red">*</span></label>
        <input class="form-control" v-model="accountForm.email" placeholder="Email" type="email" required>
        <label style="margin-top: 2%">Telefon<span style="color: red">*</span></label>
        <input class="form-control" v-model="accountForm.phone" placeholder="Telefon" required pattern="[0-9]+">
      </form>
    </div>
    <div class="modal-footer">
      <button :disabled="!$refs.accountFormReference?.checkValidity()" type="button" class="btn btn-outline-primary" @click="showAddAccountModal = false; createAccount(); resetForms()">Salvare</button>
    </div>
  </b-modal>

  <b-modal id="edit-account" centered v-model="showEditAccountModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-edit-title">Editare Cont</h4>
      <button type="button" class="close" aria-label="Close" @click="showEditAccountModal = false; resetForms()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <form ref="accountFormReference">
          <label style="margin-top: 2%">Nume<span style="color: red">*</span></label>
          <input class="form-control" v-model="accountForm.lastName" placeholder="Nume">
          <label style="margin-top: 2%">Prenume<span style="color: red">*</span></label>
          <input class="form-control" v-model="accountForm.firstName" placeholder="Prenume">
          <div v-if="accountForm.cnp">
          <label style="margin-top: 2%">CNP<span style="color: red">*</span></label>
          <input class="form-control" v-model="accountForm.cnp" placeholder="CNP" required pattern="[0-9]+" minlength="13" maxlength="13">
          </div>
          <label style="margin-top: 2%">Email<span style="color: red">*</span></label>
          <input class="form-control" v-model="accountForm.email" placeholder="Email" type="email" required>
          <label style="margin-top: 2%">Telefon<span style="color: red">*</span></label>
          <input class="form-control" v-model="accountForm.phone" placeholder="Telefon" required pattern="[0-9]+">
      </form>
    </div>
    <div class="modal-footer">
      <button :disabled="!$refs.accountFormReference?.checkValidity()" type="button" class="btn btn-outline-primary" @click="showEditAccountModal = false; updateAccount(); resetForms()">Salvare</button>
    </div>
  </b-modal>

  <b-modal id="change-password" centered v-model="showChangePasswordModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-change-title">Schimbare parolă</h4>
      <button type="button" class="close" aria-label="Close" @click="showChangePasswordModal = false; resetForms()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <form ref="changePasswordFormReference">
        <label style="margin-top: 2%">Parolă nouă<span style="color: red">*</span></label>
        <input type="password" class="form-control" v-model="changePasswordForm.newPassword" placeholder="Parolă nouă" required pattern="(?=\D*\d)(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z]).{8,30}">
        <label style="margin-top: 2%">Repetare parolă nouă<span style="color: red">*</span></label>
        <input type="password" class="form-control" v-model="changePasswordForm.secondNewPassword" placeholder="Repetare parolă nouă" required pattern="(?=\D*\d)(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z]).{8,30}">
      </form>
    </div>
    <div class="modal-footer">
      <button :disabled="!areValidPasswords()" type="button" class="btn btn-outline-primary" @click="showChangePasswordModal = false; changeAccountPassword(); resetForms()">Salvare</button>
    </div>
  </b-modal>

  <b-modal id="add-study" centered size="xl" v-model="showAddStudyModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-add-study-title">Adăugare Studiu</h4>
      <button type="button" class="close" aria-label="Close" @click="showAddStudyModal = false">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <app-add-study></app-add-study>
    </div>
  </b-modal>

  <b-modal id="active-study" centered size="xl" v-model="showActiveStudyModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-delete-study-title">Studii Active</h4>
      <button type="button" class="close" aria-label="Close" @click="showActiveStudyModal = false">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body" v-if="showActiveStudyModal">
      <app-active-study></app-active-study>
    </div>
  </b-modal>

  <b-modal id="delete-account" centered v-model="showDeleteAccountModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-delete-title">Ștergere Cont</h4>
      <button type="button" class="close" aria-label="Close" @click="showDeleteAccountModal = false">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Ești sigur că dorești să ștergi acest cont?</strong></p>
      <p>Toate informațiile asociate cu acesta vor fi șterse definitiv.
        <span class="text-danger">Această operațiune nu poate fi anulată.</span></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" @click="showDeleteAccountModal = false">Anulare</button>
      <button type="button" autofocus class="btn btn-danger" @click="showDeleteAccountModal = false; deleteAccountById()">Da</button>
    </div>
  </b-modal>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nume</th>
    <th>Prenume</th>
    <th>CNP</th>
    <th>Email</th>
    <th>Telefon</th>
    <th>Studii Active</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr v-for="account in filteredAccounts">
    <td class="align-middle">{{account.lastName}}</td>
    <td class="align-middle">{{account.firstName}}</td>
    <td class="align-middle">{{account.cnp}}</td>
    <td class="align-middle">{{account.email}}</td>
    <td class="align-middle">{{account.phone}}</td>
    <td class="align-middle">
      <p  v-for="study in account.activeStudies">{{study.abbreviation}}</p>
    </td>
    <td>
      <div class="dropdown">
        <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-h" style="color: dodgerblue"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" @click="showEditAccountModal = true; setId(account.id); setForm(account)">Editează cont</a>
          <a class="dropdown-item" @click="showChangePasswordModal = true; setId(account.id)">Schimbare parolă</a>
          <a class="dropdown-item" @click="showAddStudyModal = true; setAccountId(account.id); setAccountRequest(account)">Adăugare studiu</a>
          <a class="dropdown-item" @click="showActiveStudyModal = true; setAccount(account)">Studii active</a>
          <a class="dropdown-item" @click="showDeleteAccountModal = true; setId(account.id)">Șterge cont</a>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</div>
