<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav">
          <li class="nav-item" v-if="user.role === userRole.STUDENT">
              <router-link class="nav-link" to="/student/studii-active" active-class="active">Studii active</router-link>
          </li>
          <li class="nav-item" v-if="user.role === userRole.STUDENT">
              <router-link class="nav-link" to="/student/taxe-active" active-class="active">Taxe active</router-link>
          </li>
          <li class="nav-item" v-if="user.role === userRole.STUDENT">
              <router-link class="nav-link" to="/student/taxe-platite" active-class="active">Taxe plătite</router-link>
          </li>
          <li class="nav-item" v-if="user.role === userRole.TAX_OFFICE">
              <router-link class="nav-link" to="/birou-taxe/studenti" active-class="active">Studenți</router-link>
          </li>
          <li class="nav-item" v-if="user.role === userRole.TAX_OFFICE">
              <router-link class="nav-link" to="/birou-taxe/taxe-limita" active-class="active">Taxe limită</router-link>
          </li>
          <li class="nav-item" v-if="user.role === userRole.TAX_OFFICE">
              <router-link class="nav-link" to="/birou-taxe/taxe-restante" active-class="active">Taxe restante</router-link>
          </li>
          <li class="nav-item" v-if="user.role === userRole.ADMIN">
              <router-link class="nav-link" to="/administrator/conturi" active-class="active">Conturi</router-link>
          </li>
          <li class="nav-item" v-if="user.role === userRole.ADMIN">
              <router-link class="nav-link" to="/administrator/studii" active-class="active">Studii</router-link>
          </li>
          <li class="nav-item dropdown" v-if="user.role === userRole.ADMIN">
              <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                 :class="{ active: $route.path === '/administrator/taxe-studiu' || $route.path === '/administrator/taxe-camin' || $route.path === '/administrator/alte-taxe' }">
                  Taxe
              </a>
              <div class="dropdown-menu">
                  <router-link to="/administrator/taxe-studiu" class="dropdown-item" active-class="active">Taxe studiu</router-link>
                  <router-link to="/administrator/taxe-camin" class="dropdown-item" active-class="active">Taxe cămin</router-link>
                  <router-link to="/administrator/alte-taxe" class="dropdown-item" active-class="active">Alte taxe</router-link>
              </div>
          </li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user" aria-hidden="true"></i>
         <span style="margin-left: 5%;margin-right: 4%">{{ user.firstName }} {{ user.lastName }}</span>
      </button>
      <div class="dropdown-menu">
          <router-link to="/user/profil" class="dropdown-item">Profil</router-link>
        <a type="button" class="dropdown-item" @click="logout()">Delogare</a>
      </div>
    </div>
  </div>
</nav>
