<div class="center-table">
<form style="margin-top: 1%; margin-left: 1%">
  <div class="form-group form-inline">
    Caută: <input class="form-control ml-2" type="text" v-model="filter"/>
  </div>
</form>

    <b-modal id="modal-bill" centered size="xl" v-model="showModal" hide-footer="true" hide-header="true">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-bill-title">Chitanță</h4>
            <button type="button" class="close" aria-label="Close" @click="showModal = false">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body" id="studentBill">
            <p><strong>UNIVERSITATEA din ORADEA</strong></p>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        CUI:<strong style="margin-left: 10%">4287939</strong>
                        <br>
                        Sediul:<strong style="margin-left: 6.8%">410087 ORADEA, Str. Universității Nr. 1</strong>
                        <br>
                        Județul:<strong style="margin-left: 5.6%">Bihor</strong>
                        <br>
                        Tel:<strong style="margin-left: 11.4%">0259/432830</strong>
                        <br>
                        Fax:<strong style="margin-left: 10.1%">0259/432789, 471945</strong>
                    </p>
                    <p>Am primit de la <strong style="margin-left: 4%">{{selectedAccount.firstName}} {{selectedAccount.lastName}}</strong>
                        <br>
                        Suma de:<strong style="margin-left: 13%">{{selectedPaidFee.value}} RON</strong>
                        <br>
                        Reprezentând:<strong style="margin-left: 6%">{{selectedPaidFee.name}}</strong>
                    </p>
                </div>
                <div class="col-md-6">
                    <div style="margin-left: 50%">
                        <p>
                            <strong>CHITANȚĂ</strong>
                        </p>
                        <p>
                            <strong>Data: {{getDate(selectedPaidFee.dateOfPayment)}}</strong>
                        </p>
                        <p>
                            <strong>Valabilă fără semnătură</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" autofocus @click="showModal = false; captureScreen()">Descarcă</button>
        </div>
    </b-modal>

  <table class="table table-striped">
  <thead>
  <tr>
    <th>Denumire</th>
    <th>Detalii</th>
    <th>Comentariu</th>
    <th>Data plătirii</th>
    <th>Valoare</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr v-for="fee in filteredPaidFees">
    <td class="align-middle">{{fee.name}}</td>
    <td class="align-middle">{{fee.details}}</td>
    <td class="align-middle">{{fee.comment}}</td>
    <td class="align-middle">{{getDate(fee.dateOfPayment)}}</td>
    <td class="align-middle">{{fee.value}} RON</td>
    <td class="align-middle"><button type="button" class="btn btn-info" @click="showModal = true; setSelectedPaidFee(fee)">Chitanță</button></td>
  </tr>
  </tbody>
</table>
</div>
