.students-table table {
  table-layout: fixed;
  word-wrap: break-word;
}

.students-table th:not(:first-child) {
  text-align: center;
}

.students-table td:not(:first-child) {
  text-align: center;
}

.students-table th:first-child {
  width: 1%;
}

.students-table td:first-child {
  width: 1%;
}

.center-table {
  width: 80%;
  margin: 0 auto;
}
