<div class="center-table">
  <div class="row" style=" margin-top: 1%;margin-left: 1%">
    <div class="col-md-6">
      <form>
        <div class="form-group form-inline">
        Caută: <input class="form-control ml-2" type="text" v-model="filter"/>
        </div>
      </form>
    </div>
    <div class="col-md-6" style="text-align: right">
      <button type="button" class="btn add-button" @click="showAddFeeModal = true">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <b-modal id="add-fee" centered v-model="showAddFeeModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-add-title">Adăugare Taxă</h4>
      <button type="button" class="close" aria-label="Close" @click="showAddFeeModal = false; resetForms()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <form ref="hostelFeeFormReference">
        <label>Cămin<span style="color: red">*</span></label>
        <select class="form-control" v-model="hostelFeeForm.hostel" required>
          <option>C1</option>
          <option>C2</option>
          <option>C3</option>
          <option>C4</option>
        </select>
        <div v-if="hostelFeeForm.hostel">
          <div>
            <label style="margin-top: 2%">Tip</label>
            <select class="form-control" v-model="hostelFeeForm.type">
              <option></option>
              <option>lunara</option>
              <option>semestriala</option>
              <option>anuala</option>
            </select>
            <label style="margin-top: 2%">Denumire<span style="color: red">*</span></label>
            <input class="form-control" v-model="hostelFeeForm.name" placeholder="Taxa" required>
            <label style="margin-top: 2%">Valoare<span style="color: red">*</span></label>
            <input class="form-control" v-model="hostelFeeForm.value" placeholder="Valoare" required pattern="[0-9]+">
          </div>
          <div style="margin-top: 3%">
            <label class="form-check-label" style="margin-right: 7%">Buget</label>
            <input class="form-check-input" type="checkbox" v-model="hostelFeeForm.budget"/>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button :disabled="!$refs.hostelFeeFormReference?.checkValidity()" type="button" class="btn btn-outline-primary" @click="showAddFeeModal = false; addHostelFee(); resetForms()">Salvare</button>
    </div>
  </b-modal>

  <b-modal id="edit-fee" centered v-model="showEditFeeModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-edit-title">Editare Taxă</h4>
      <button type="button" class="close" aria-label="Close" @click="showEditFeeModal = false; resetForms()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <form ref="hostelFeeFormReference">
        <label>Cămin</label>
        <select class="form-control" v-model="hostelFeeForm.hostel" required>
          <option>C1</option>
          <option>C2</option>
          <option>C3</option>
          <option>C4</option>
        </select>
        <label>Tip</label>
        <select class="form-control" v-model="hostelFeeForm.type">
          <option></option>
          <option>lunara</option>
          <option>semestriala</option>
          <option>anuala</option>
        </select>
        <label style="margin-top: 2%">Denumire</label>
        <input class="form-control" v-model="hostelFeeForm.name" placeholder="Taxa" required>
        <label style="margin-top: 2%">Valoare</label>
        <input class="form-control" v-model="hostelFeeForm.value" placeholder="Valoare" required pattern="[0-9]+">
        <div style="margin-top: 3%">
          <label class="form-check-label" style="margin-right: 7%">Buget</label>
          <input class="form-check-input" type="checkbox" v-model="hostelFeeForm.budget"/>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button :disabled="!$refs.hostelFeeFormReference?.checkValidity()" type="button" class="btn btn-outline-primary" @click="showEditFeeModal = false; updateHostelFee(); resetForms()">Salvare</button>
    </div>
  </b-modal>

  <b-modal id="delete-fee" centered v-model="showDeleteFeeModal" hide-footer="true" hide-header="true">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-delete-title">Ștergere Taxă</h4>
      <button type="button" class="close" aria-label="Close" @click="showDeleteFeeModal = false">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Ești sigur că dorești să ștergi această taxă?</strong></p>
      <p>Toate informațiile asociate cu aceasta vor fi șterse definitiv.
        <span class="text-danger">Această operațiune nu poate fi anulată.</span></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" @click="showDeleteFeeModal = false">Anulare</button>
      <button type="button" autofocus class="btn btn-danger" @click="showDeleteFeeModal = false; deleteHostelFeeById()">Da</button>
    </div>
  </b-modal>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Denumire</th>
    <th>Cămin</th>
    <th>Buget</th>
    <th>Tip</th>
    <th>Valoare</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr v-for="fee in filteredHostelFees">
    <td class="align-middle">{{fee.name}}</td>
    <td class="align-middle">{{fee.hostelName}}</td>
    <td class="align-middle"><i v-if="fee.budget" class="fa fa-check"></i></td>
    <td class="align-middle">{{fee.type}}</td>
    <td class="align-middle">{{fee.value}} RON</td>
    <td>
      <div class="dropdown">
        <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-h" style="color: dodgerblue"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" @click="showEditFeeModal = true; setId(fee.id); setForm(fee)">Editează</a>
          <a class="dropdown-item" @click="showDeleteFeeModal = true; setId(fee.id)">Șterge</a>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</div>
